* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100dvh;
  background-color: aqua;
}

#container .design {
  background-color: #5bd9b5;
}

/* #container .design .logo {
  width: 300px;
  height: 300px;
} */
